@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ________ Divs -------- */

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url('/assets/images/castle.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.content {
    color: white;
    padding-top: 50px;
    height: 75%;
    width: 75%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-image: url('/assets/images/garden.jpeg');
    background-size: cover;    
    background-position: center; 
    background-repeat: no-repeat;
}

/* ________ Header -------- */

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.sticky-header {
    background-color: #333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.sticky-header nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}

.sticky-header nav ul li {
    margin: 0;
    padding: 0;
}

.sticky-header nav ul li a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
}

.sticky-header nav ul li a:hover {
    color: #ff9900;
}

.content {
    margin-top: 50px; 
    padding: 20px;
}

/* ________ Menu -------- */

.menu {
    text-align: cener;
    margin-top: 50px;
}

.menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

menu ul li {
    margin: 0;
    padding: 0;
}

menu ul li a {
    text-decoration: none;
    color: #333;
    margin: 0 15px; 
}

.menu li a:hover {
    background-color: white;
}

/* ________ Footer -------- */

.sticky-footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: sticky;
    bottom: 0;
}
