@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600&display=swap");

* {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ________ Divs -------- */

.container {
    background: black;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: url('/assets/images/castle.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.content {
    color: white;
    background: rgb(128, 128, 128, 0.3);
    padding-top: 50px;
    height: 75vh;
    width: 75vw;
    border: 2px solid white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background-image: url('/assets/images/garden.jpeg');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
}

.content:hover {
    transform: translate(-50%, -50%) scale(1.05); 
    transition: transform 0.7s ease-in-out;
}

/* ________ Menu -------- */

.menu {
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
    position: absolute;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.menu li {
    display: inline-block;
    margin: 10px;
}

.menu li a {
    text-decoration: none;
    background-color: rgb(255, 255, 255, 0.7);
    color: rgb(0, 0, 0);
    font-size: 18px;
    padding: 10px;
    border: 2px solid white;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.menu li a:hover {
    background-color: white;
    color: black;
}

/* ________ Menu -------- */
